/* body e base */

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
    padding: 0px;
    color: green;
    background-color: rgb(49, 49, 49);
}

/* NAVIGAZIONE & HEADER */
nav{
    width: 100%;
    background-color: rgb(26, 26, 26);
    display: flex;
    flex-wrap: wrap;
}

.title_nav{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5%;
    margin-right: auto;
}

.title_nav_img{
    height: 100px;
}

.tasti_nav{
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 8%;
}

.a_nav{
    font-size: 25px;
    color: green;
    font-weight: 700;
    margin: auto;
    margin-left: 20px;
    text-decoration: none;
    text-shadow: 0px 0px 1px white;
    position: relative;
}

.a_nav::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: currentColor;
    transform: scaleX(0);
    transition: transform 350ms;
}

.a_nav:hover::after{
    transform: scaleX(1);
}

.simbolo_nav{
    width: 10px;
}

/* DIVISIONI */

.divisone_nav{
    background-color: green;
    width: 100%;
    height: 3px;
    box-shadow: 0px 0px 5px green;
}

.divisore_verde{
    background-color: green;
    width: 100%;
    height: 1px;
    box-shadow: 0px 0px 5px rgb(255, 255, 255);
}

.divis2{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 3px;
    box-shadow: 0px 0px 5px rgb(255, 255, 255);
    border-radius: 60%;
    transform: scaleX(0.7);
}

.divis3{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 3px;
    box-shadow: 0px 0px 5px rgb(255, 255, 255);
    border-radius: 60%;
    transform: scaleX(0.25);
}

/* TITOLI */

h2{
    margin: 30px;
}
.progetto{
    text-align: center;
    font-size: 30px;
}

h3{
    margin: 30px;
    text-align: center;
    font-size: 30px;
}

.NOME{
    font-size: 20px;
}
/* SEZIONI */

p{
    text-align: center;
    color: white;
    padding: 15px;
    margin: 30px auto;
}

.p_desc_prog{
    width: 60%;
}

.p_desc_foto{
    width: 40%;
}

.sez_foto{
    display: flex;
}

.es_foto{
    height: 650px;
    box-shadow: 0px 0px 5px black;
    margin: auto;
}
.simbolo{
    display: flex;
    height: 120px;
    margin: auto;
}
strong{
    font-weight: 700;
    margin-top: 15px;
}

/* MAPPA */
.sez_mappa{
    display: flex;
}

#map {
    margin: 5% auto;
    width: 80%;
    height: 650px;
}

/* Nuvola Marker  */

.foto_marker{
    width: 200px;
    height: 250px;
}

.testo_marker{
    font-size: larger;
    color: black;
    margin: 5px;
}

/* Ingrandimento immagine */
#fullbox{
    position: fixed;
    width: 100%;
    height: 100%;
    left:0;
    top:0;
    display:none;
    background: transparent url('../img/bg.png') repeat left top;
    background: rgba(0, 0, 0, 0.9);
    overflow: hidden;
    z-index: 10;
    cursor: pointer;
}

img.imgfullbox{
    box-shadow: green 0px 0px 5px;
    top: 50%;
    left: 50%;
    position: absolute;
}
/* FOOTER */

footer{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(102, 102, 102);
    color: rgb(194, 194, 194);
    padding: 15px;
    text-align: center;
    margin-top: 25px;
}

footer:hover{
    cursor: help;
}

/* MEDIA QUERRY */

@media screen and (max-width: 830px) {
    .simbolo{
        display: none;
    }
    .es_foto{
        height: 450px;
    }
}

@media screen and (max-width: 360px) {
    .es_foto{
        height: 350px;
    }
}

/* NAV */
@media screen and (max-width: 669px) {
    .title_nav{
        margin: auto;
    }
    .tasti_nav{
        margin: auto;
    }
}